//// BEGIN REPOSITORY HEADER ////

// The code contained in this file is provided without warranty, it was likely grabbed from a closed-source/abandoned project and will
// in most cases not function out of the box. This file is merely intended as a representation of the design pasterns and
// different problem-solving approaches I use to tackle various problems.
// The original file can be found here: https://github.com/Avicus/Website

//// END REPOSITORY HEADER ////

- content_for :title, 'Admin - Ranks - New'

%section.section-dark.main-header
  .container-fluid
    .row-fluid
      .span12
        %h1
          New Rank

%br
= @rank.errors.full_messages.each do |msg|
  %li #{msg}
%section
  .container-fluid
    .alert.alert-info.no-margin{:style => 'margin: 0'}
      More options will be available after rank creation
    = form_for [:admin, @rank] do |f|
      = render 'admin/ranks/misc', :f => f
