- content_for :title, 'Admin - Ranks - New'

%section.section-dark.main-header
  .container-fluid
    .row-fluid
      .span12
        %h1
          New Rank

%br
= @rank.errors.full_messages.each do |msg|
  %li #{msg}
%section
  .container-fluid
    .alert.alert-info.no-margin{:style => 'margin: 0'}
      More options will be available after rank creation
    = form_for [:admin, @rank] do |f|
      = render 'admin/ranks/misc', :f => f
